.comments-title {
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #c9c9c9;
	font-size: 0.36rem;
	color: #fff;
}
.content {
	padding: 0.3rem 0.2rem 0;
}
.report-wrap {
	padding: 0 .2rem;
}
.report-title {
	padding-top: .3rem;
	font-size: .4rem;
	color: #343434;
}
.report-item {
	padding-top: .5rem;
}
.report-a {
	display: block;
}
.report-img {
	width: 2.9rem;
	height: 2rem;
	border-radius: .05rem;
	/*background: url(../../images/aboutus/profile.gif) no-repeat center center;*/
}
.report-item-inf {
	width: 3.8rem;
}
.report-item-title {
	font-size: .28rem;
	color: #343434;
}
.report-item-con {
	padding: .15rem 0;
	font-size: .22rem;
	color: #343434;
}
.report-src-wrap {
	font-size: .18rem;
	color: #8c8c8c;
}
.see-all {
	padding: 0 .1rem;
    color: #318aff;
}
