.content {
	padding: 0;
}
.banner-wrap {
	position: relative;
	width: 100%;
	height: 4.3rem;
	background: url(../../images/aboutus/stagephoto.gif) no-repeat;
	background-size: cover;
}
.plays-title-wrap {
	position: absolute;
	right: 0.2rem;
	bottom: 0.3rem;
	width: 4.3rem;
	padding-left: .1rem;
}
.plays-title {
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #c9c9c9;
	font-size: 0.36rem;
	color: #fff;
}
.plays-price {
	padding-top: 0.2rem;
	color: #ef0f1e;
	font-size: 0.26rem;
}
.plays-poster {
	position: absolute;
	width: 2.5rem;
	left: 0.2rem;
	bottom: -1.4rem;
	border-radius: .05rem;
}
/*演出信息*/
.performance-inf-wrap {
	padding: 2rem 0.2rem 0.5rem;
	border-top-left-radius:.2em;
	border-top-right-radius:.2em;
	border-bottom: .15rem solid #f2f3f5;
}
.performance-inf-title {
	padding: .2rem 0;
	font-size: .36rem;
	color: #343434;
}
.performance-inf-lists-wrap {
	position: relative;
	padding: 0 0 .2rem;
}
.location-pic {
	width: .24rem;
	height: .32rem;
    margin-top: .1rem;
}
.date-site {
	margin-left: .1rem;
}
.performance-site {
	font-size: .3rem;
	color: #343434;
}
.performance-date {
	color: #969494;
	font-size: .3rem;
}
.ticket-price {
	color: #ef0f1e;
	font-size: .3rem;
	font-weight: 600;
}
.performance-inf-lists>li {
	padding: .1rem 0;
	border-bottom: 1px solid #eee;
}
.triangle {
	display: inline-block;
	border-top: .15rem solid #318aff;
	border-right: .08rem solid transparent;
	border-left: .08rem solid transparent;
	/*border-bottom: .15rem solid transparent;*/
}
.performance-expand {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: .3rem;
	line-height: .3rem;
	text-align: center;
	color: #318aff;
	font-size: 0.28rem;
}
.performance-expand-wrap {
	display: none;
	position: absolute;
	width: 100%;
	height: 1rem;
	bottom: 0;
	z-index: 10;
	background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
}
/*剧情简介*/
.synopsis {
	padding: 0 .2rem .3rem;
}
.synopsis-title {
	font-size: .36rem;
	color: #343434;
	padding: .3rem 0;
}
.synopsis-content {
	height: 1.56rem;
	font-size: .26rem;
	color: #676767;
	overflow: auto;
}
.ellipsis {
	position:relative;
    overflow:hidden;
}
.ellipsis::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 .2rem 1px .45rem;
    background:url(../../images/plays/ellipsis_bg.png) repeat-y;
} 
.expand-detail {
	padding: 0 .1rem;
	color: #318aff;
}
/* 精彩剧照 */
.stage-photo {
	padding-left:.2rem;
}
.stage-photo-title {
	padding: .3rem 0;
	color: #343434;
    /*padding-top: .3rem;*/
    font-size: .36rem;
}
.stage-photo-wrap {
	width: 3rem;
	height: 1.7rem;
	margin-right: .12rem;
}
.stage-photo-wrap.video {
	position: relative;
}
.play-icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: .4rem;
	/*height: .4rem;*/
	margin: auto;
}
.stage-photo-wrap>div {
	border-radius: .05rem;
}
.all-stage-photo {
	padding-top: .4rem;
    margin-right: .2rem;
    font-size: .24rem;
    color: #318aff;
}
/*剧照预览*/
/*.photo-preview {
	position: fixed;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1111;
}
.preivew-photo {
	margin-top: 2rem;
}*/
/* 主创介绍 */
.creators-wrap {
	/*width: 5.12rem;*/
	/*height: 3.5rem;*/
}
.creator-wrap {
	display: block;
	width: 4.9rem;
	height: 3.3rem;
	padding: 0 .35rem;
	margin-right: .2rem;
	margin: .2rem 0 .2rem .2rem;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.03);
    border-radius: .05rem;
} 
.creator-wrap:last-child {
	margin-right: .2rem;
}
.personal {
	padding: .45rem 0 .25rem;
}
.profile-wrap {
	width: 1.44rem;
	height: 1.44rem;
	border-radius: 0.72rem;
	/*background: url(../../images/aboutus/profile.gif) no-repeat center center;
	background-size: 100% 100%;*/
}
.creators {
	padding-left: .2rem;
}
.creators-title {
	padding: .3rem 0;
	font-size: .36rem;
	color: #343434;
}
.name-position {
    padding: .25rem 0 0 .15rem;
}
.creator-name {
	font-size: .36rem;
	color: #343434;
}
.creator-position {
	color: #acabab;
	font-size: .24rem;
}
.intro {
	font-size: .24rem;
	color: #6e6d6d;
}

/*观众剧评*/
.comments-wrap {
	padding: 0 .2rem;
}
.comments-title {
	padding-top: .3rem;
	font-size: .36rem;
	color: #343434;
}
.more-comments {
    padding-top: .4rem;
	font-size: .24rem;
	color: #318aff;
}
.author-profile {
	width: .62rem;
	height: .62rem;
	/*background: url(../../images/aboutus/profile.gif) no-repeat center center;
	background-size: 100% 100%;*/
}
.author-name {
	line-height: .62rem;
	font-size: .3rem;
	color: #292929;
	font-weight: 600;
}
.author-inf {
	/*width: 6.25rem;
	padding: 0 .6rem .2rem .2rem;*/
	width: 6.2rem;
    padding: 0 0.2rem .2rem .2rem;
}
.comment-content {
	/*max-height: 2.1rem;
	overflow: auto;*/
	font-size: .24rem;
	color: #838181;
}
.comment-date {
	padding: .1rem 0;
	font-size: .18rem;
	color: #8c8c8c;
}
.comment-item {
	margin-top: .4rem;
	border-bottom: 1px solid #eee;
}
.comment-item:last-child {
	border: 0;
}
/* 媒体报道 */
.report-wrap {
	padding: 0 .2rem;
}
.report-title {
	padding-top: .3rem;
	font-size: .36rem;
	color: #343434;
}
.more-report {
    padding-top: .4rem;
	font-size: .24rem;
	color: #318aff;
}
.report-item {
	padding-top: .5rem;
}
.report-a {
	display: block;
}
.report-img {
	width: 2.9rem;
	height: 2rem;
	border-radius: .05rem;
	/*background: url(../../images/aboutus/profile.gif) no-repeat center center;*/
    margin-right: .2rem;
}
.report-item-inf {
	/*width: 3.8rem;*/
	width: 100%;
}
.report-item-title {
	font-size: .28rem;
	color: #343434;
}
.report-item-con {
	padding: .15rem 0;
	font-size: .22rem;
	color: #343434;
}
.report-src-wrap {
	font-size: .18rem;
	color: #8c8c8c;
}
/* 购票 */
.buy-wrap {
	margin: 1.4rem 0;
	padding: 0 .4rem;
}
.btn-block {
	display: block;
	width: 100%;
	height: 1.06rem;
	/*padding: .3rem 0;*/
	border-radius: .05rem;
	text-align: center;
}
.buy-ticket {
	display: none;
	padding-top: .2rem;
	background: #ed111b;
	font-size: .3rem;
	font-weight: 600;
	color: #fff;
}
.stop-ticket {
	display: none;
	line-height: 1.06rem;
	background: #b9b7b7;
	font-size: .3rem;
	font-weight: 600;
	color: #fff;
}
.third-text {
	font-size: .2rem;
	color: #fff;
}
.see-all {
	padding: 0 .1rem;
    color: #318aff;
}
.report-date {
	padding-left: .1rem;
}
/*剧照预览*/
.pre-wrap {
	display: none;
	position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    z-index: 10001;
}
.photo-preview {
	/*display: none;*/
}
.photo-preview.swiper-container {
	height: 100%;
	z-index: 10001;
}
.photo-preview .swiper-slide {
	display: flex;
    align-items: center;
    vertical-align: middle;
}
.photo-preview .video {
	position: relative;
}
.photo-preview .play-icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 5em;
	/*height: .4rem;*/
	margin: auto;
}
.photo-preview .swiper-slide>img {
	border-radius: .05rem;
}