.content {
	padding: 0.3rem 0.2rem 0;
}
.stage-photo {
	width: 1.9rem;
}
.plays-item {
	display: block;
}
.plays-inf {
	/*padding-left: 0.2rem;*/
	max-width: 5rem;
}
.plays-title {
	font-size: 0.3rem;
	color: #343434;
	text-indent: -0.5em;
}
.ticket-status-wrap {
	padding: 0.1rem 0;
	color: #ef0f1e;
}
.ticket-status {
	display: inline-block;
	padding: 0.03rem;
	border: 1px solid #f0202e;
	border-radius: 0.05rem;
	font-size: 0.18rem;
	color: #f0202e;
}
.price {
	font-size: 0.24rem;
	color: #ef0f1e;
	font-weight: 600;
	/*vertical-align: middle;*/
}
.show-date-wrap, .show-place-wrap {
	color: #939393;
	font-size: 0.22rem;
}
.synopsis {
	padding: 0.1rem 0.2rem;
	margin: 0.1rem 0 0 0;
	border-radius: 0.05rem;
	background: #f2f3f5;
	color: #939393;
	font-size: 0.22rem;
}
.plays-lists {
	padding-bottom: 0.8rem;
}
.plays-lists li{
	margin-bottom: 0.8rem;
}
/*底部导航*/
.play-img {
	background: url(../../images/common/play-active.png) center center;
	background-size: 100% 100%;
}