.header {
	/*padding: 0.2rem;*/
}
.goback {
	display: block;
	width: 0.66rem;
	height: 0.28rem;
	line-height: 0.28rem;
	background: url(../../images/aboutus/goback.gif) left center no-repeat;
	background-size: 0.12rem 0.22rem;
	font-size: 0.24rem;
	color: #318aff;
	text-align: right;
}
/*content部分*/
.content {
	padding: 0.5rem 0.2rem 2.5rem;
}
.team-title {
	padding: 0.2rem 0;
	font-size: 0.4rem;
}
.manager-item-wrap {
	padding: 0 0.2rem;
}
/*管理团队*/
.manager-item {
	position: relative;
	width: 100%;
	margin-top: 0.85rem;
	padding: 0 0.4rem;
	border-radius: 0.3rem;
	box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.08);
	box-sizing: border-box;
}
.profile {
	position: absolute;
	width: 1.85rem;
	height: 1.85rem;
	top: -0.55rem;
	/*left: 0.4rem;*/
	border-radius: 50%;
	background: url(../../images/aboutus/profile.gif) center center no-repeat;
	background-size: 100% 100%;
}
.manager-inf {
	min-height: 1.5rem;
	/*padding-left: 2.2rem;*/
}
.manager-name {
	padding: 0.3rem 0 0.1rem;
	font-size: 0.3rem;
	color: #282828;
}
.manager-position {
	color: #a6a6a6;
	font-size: 0.24rem;
}
.manager-introduction {
	margin-top: 0.3rem;
	padding-bottom: 0.8rem;
	color: #373737;
	font-size: 0.24rem;
}
.left-item .profile{
    left: 0.4rem; 
}
.right-item .profile{
	right: 0.4rem;
}
.left-item .manager-inf{
    padding-left: 2.2rem;
}
.right-item .manager-inf{
	padding-right: 2.2rem;
	text-align: right;
}


/*底部导航*/
.guangwei-img {
	background: url(../../images/common/about-active.png) center center;
	background-size: 100% 100%;
}