<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title>全部剧评</title>

	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/plays/allComments.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
    <div class="back-wrap">
        <a href="javascript:;" class="goback" id="goBack">
            返回
        </a>
    </div>

    <div class="content">
		<!-- <h3 class="all-comments-title">全部剧评</h3> -->

    	<div class="comments-wrap">
    		<div class="clearfix">
	    		<h3 class="fl-l comments-title">全部剧评</h3>
    			<!-- <a class="fl-r more-comments" href="javascript:;" id="allComments">更多剧评</a> -->
    		</div>
    		<ul id="comments">
    			<li class="clearfix comment-item">
    				<div class="author-profile fl-l"></div>
    				<div class="author-inf fl-l">
    					<p class="author-name">李春峰</p>
    					<p class="comment-content">
    						作为麻醉过量区的患者表示尽量麻醉过量依然有被这部剧感动到，角色都非常棒，灯光音乐都很~~希望有更多人恩给你里阿杰这部话剧。
    					</p>
    					<p class="comment-date">2019-08-08</p>
    				</div>
    			</li>
    			<li class="clearfix comment-item">
    				<div class="author-profile fl-l"></div>
    				<div class="author-inf fl-l">
    					<p class="author-name">李春峰</p>
    					<p class="comment-content">
    						作为麻醉过量区的患者表示尽量麻醉过量依然有被这部剧感动到，角色都非常棒，灯光音乐都很~~希望有更多人恩给你里阿杰这部话剧。
    					</p>
    					<p class="comment-date">2019-08-08</p>
    				</div>
    			</li>
    		</ul>
    		<p class="no-more">
				没有更多了
			</p>
    		
    	</div>
    </div>
	
	<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/plays/allComments.js"></script>
	
</body>
</html>