<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title></title>

    <link rel="stylesheet" href="../../js/lib/swiper/swiper-4.3.3.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/plays/allStagePhoto.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
	
	<div class="content">
		<div class="clearfix stage-photo-wrap" id="stagePhotoWrap">
			<!-- <a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/d1279dcf-5807-4567-a828-93ca99ba3508.jpg?Expires=1840683959&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=bBdBmLT4lE3%2F8O7gIZCwXiQysGg%3D) no-repeat center center;background-size:cover;"></a>
			<a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/0a34d7d8-f1eb-4139-ada4-b733035a1717.jpg?Expires=1840684209&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=0dppWglw7mKeFX88hMegbJ%2FZKpg%3D) no-repeat center center;background-size:cover;"></a>
			<a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/d9aad8ed-a475-4bae-aa17-2cb7581170dc.jpg?Expires=1840862274&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=nM1vfTAHEh9qrdMzLQl72jFYp78%3D) no-repeat center center;background-size:cover;"></a>
			<a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/15ebf3be-f98d-4107-ad9e-8258e60c07be.jpg?Expires=1841716208&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=MKKh6HkTemtzypxDlSmRMD9xLio%3D) no-repeat center center;background-size:cover;"></a>
			<a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/0b975b70-1483-4ae6-b9ea-28de9a190a93.jpg?Expires=1841716210&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=zdW1D64ntuABBvT9cqgTRwqB4c4%3D) no-repeat center center;background-size:cover;"></a>
			<a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/195330db-8691-48bd-b93c-9122894ca9b0.jpg?Expires=1841716211&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=DK1XUc7flxilVhsRaWwE8WUTxJA%3D) no-repeat center center;background-size:cover;"></a> -->
			<!-- <a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/21e1d793-e34a-4303-a6d1-8f44d9ab63ed.jpg?Expires=1841716546&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=fzrvrzfmBhAracVqaghkl9QIk2M%3D) no-repeat center center;background-size:cover;"></a><a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/d130a4a8-c04d-45e9-8d8e-00aa69c653f3.jpg?Expires=1841716547&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=MUELYSB7zEXSsqVdknR8cnlofVA%3D) no-repeat center center;background-size:cover;"></a><a href="javascript:;" class="photo" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/41d3c6d5-c82a-4238-8edd-bfc073a6d261.jpg?Expires=1841716548&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=mqEeILNDFlmZglwNgQMT6u%2Bu%2FxA%3D) no-repeat center center;background-size:cover;"></a> -->
			<!-- <li class="photo">
				<a href="javascript:;" class="photo-item" style="background: url(http://kjxj-drama.oss-cn-beijing.aliyuncs.com/0a34d7d8-f1eb-4139-ada4-b733035a1717.jpg?Expires=1840684209&OSSAccessKeyId=LTAIYdtGj1N7M3bR&Signature=0dppWglw7mKeFX88hMegbJ%2FZKpg%3D) no-repeat center center;background-size: cover;"></a>
			</li>
			</li> -->
		</div>
	</div>

    <!-- 剧照预览 -->
    <div class="pre-wrap" id="preView">
        <div class="swiper-container photo-preview" id="stagePhotoPreview">
            
        </div>
    </div>

    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/lib/layer/mobile/layer.js"></script>
    <script src="../../js/lib/swiper/swiper-4.3.3.min.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/plays/allStagePhoto.js"></script>
</body>
</html>