<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title>主创介绍</title>

	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/plays/creatorsIntro.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
    <div class="back-wrap">
        <a href="javascript:;" class="goback" id="goBack">
            返回
        </a>
    </div>
    <div class="content">
    	<div class="creators-wrap" id="creatorsWrap">
			<!-- <div class="clearfix personal">
	    		<img class="profile-wrap fl-l" src="http://kjxj-drama.oss-cn-beijing.aliyuncs.com/01daa2d4-727f-4311-ba98-e963b04b15a3.jpg?Expires=1840697484&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=SxN5EGS%2FggAd%2BBGm4iwbCKclbc0%3D">
	    		<div class="name-position fl-l">
	    			<span class="creator-name">李春峰</span><br/>
	    			<span class="creator-position">导演/演员</span>
	    		</div>
	    	</div>
	    	<p class="intro">
	    		李春峰，最被期待的80后导演之一。师从北师大戏剧与电影李春峰，最被期待的80后导演之一。师从北师大戏剧与电影李春峰，最被期待的80后导演之一。师从北师大戏剧与电影李春峰，最被期待的80后导演之一。师从北师大戏剧与电影
	    	</p> -->
    	</div>

    	<!-- 更多介绍 -->
    	<div class="more-intro">
    		<h3 class="more-title">更多介绍</h3>
    		<p class="more-intro-content" id="moreIntro">
    			<!-- 被期待的80后导演之一。师从北师大戏剧被期待的80后导演之一。师从北师大戏剧。 -->
    		</p>
    	</div>

    	<!-- 主创团队 -->
    	<div class="team-wrap">
    		<h3 class="team-title">主创团队</h3>
    		<ul id="teamWrap">
    			<!-- <li class="clearfix">
    				<p class="position fl-l">编剧</p>
    				<p class="member fl-l">李春峰</p>
    			</li>
    			<li class="clearfix">
    				<p class="position fl-l">执行设计</p>
    				<p class="member fl-l">李春峰</p>
    			</li>
    			<li class="clearfix">
    				<p class="position fl-l">演员</p>
    				<p class="member fl-l">李春峰、李春峰、李春峰、李春峰李春峰李春峰李春峰李春峰李春峰、李春峰、李春峰</p>
    			</li> -->
    		</ul>
    	</div>

    	<!-- 其他内容 -->
    	<div class="other-content">
    		<h3 class="other-title">其他内容</h3>
    		<div class="clearfix other-con" id="otherCon">
    			<!-- <p class="other-name fl-l">出品公司</p>
    			<p class="other-value fl-l">光纬戏剧传媒</p> -->
    		</div>
    	</div>
		
    </div>
	
	<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/lib/layer/mobile/layer.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/plays/creatorsIntro.js"></script>
	
</body>
</html>