<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title>剧目详情</title>

    <link rel="stylesheet" href="../../js/lib/swiper/swiper-4.3.3.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/plays/playsDetails.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
    <div class="back-wrap">
        <a href="javascript:;" class="goback" id="goBack">
            返回
        </a>
    </div>

    <!-- content部分 -->
    <div class="content">
    	<div class="banner-wrap" id="bannerWrap">
    		<!-- <div class="plays-title-wrap">
    			<h3 class="plays-title">国宝剧目 《燃烧的疯人院》</h3>
    			<div class="plays-price">
    				￥60-500
    			</div>
    		</div> -->
    		<img src="../../images/plays/madhouse.gif" class="plays-poster">
    	</div>

    	<!-- 演出信息 -->
    	<div class="performance-inf-wrap">
    		<h3 class="performance-inf-title">演出信息</h3>
    		<div class="performance-inf-lists-wrap">
    			<ul class="performance-inf-lists">
    				<li class="clearfix">
    					<img src="../../images/plays/location.gif" class="fl-l location-pic">
    					<div class="date-site fl-l">
    						<p class="performance-site">北京西区剧场</p>
    						<p class="performance-date">2018年3月5日-2018年3月9日</p>
    					</div>
    					<p class="ticket-price fl-r">￥60-500</p>
    				</li>
    				<li class="clearfix">
    					<img src="../../images/plays/location.gif" class="fl-l location-pic">
    					<div class="date-site fl-l">
    						<p class="performance-site">北京西区剧场</p>
    						<p class="performance-date">2018年3月5日-2018年3月9日</p>
    					</div>
    					<p class="ticket-price fl-r">￥60-500</p>
    				</li>
    				<li class="clearfix">
    					<img src="../../images/plays/location.gif" class="fl-l location-pic">
    					<div class="date-site fl-l">
    						<p class="performance-site">北京西区剧场</p>
    						<p class="performance-date">2018年3月5日-2018年3月9日</p>
    					</div>
    					<p class="ticket-price fl-r">￥60-500</p>
    				</li>
    				<li class="clearfix">
    					<img src="../../images/plays/location.gif" class="fl-l location-pic">
    					<div class="date-site fl-l">
    						<p class="performance-site">北京西区剧场</p>
    						<p class="performance-date">2018年3月5日-2018年3月9日</p>
    					</div>
    					<p class="ticket-price fl-r">￥60-500</p>
    				</li>
    				<li class="clearfix">
    					<img src="../../images/plays/location.gif" class="fl-l location-pic">
    					<div class="date-site fl-l">
    						<p class="performance-site">北京西区剧场</p>
    						<p class="performance-date">2018年3月5日-2018年3月9日</p>
    					</div>
    					<p class="ticket-price fl-r">￥60-500</p>
    				</li>
    			</ul>
    			<div class="performance-expand-wrap">
    				<a href="javascript:;" class="performance-expand">
    					<span class="triangle"></span>
	    				<span>展开</span>
    				</a>
    			</div>
    		</div>
    	</div>

    	<!-- 剧情简介 -->
    	<div class="synopsis">
    		<h3 class="synopsis-title">剧情简介</h3>
    		<p class="synopsis-content" id="synopsisContent">
    			
    		</p>
    	</div>

    	<!-- 精彩剧照 -->
    	<div class="stage-photo">
    		<h3 class="stage-photo-title">精彩剧照</h3>
            <div class="swiper-container" id="stagePhotoSwiper">
            	<!-- <div href="javascript:;" class="swiper-slide stage-photo-wrap video swiper-slide-active">
            		<a style="display:block;width: 5px;height: 5px;background: red;">
            			<img src="../../images/plays/play-icon.png" class="play-icon" />
            		</a>
            		<img src="http://kjxj-drama.oss-cn-beijing.aliyuncs.com/28ef3fc1-b797-42c1-a68e-adfe71f951d5.jpg?Expires=1840264601&amp;OSSAccessKeyId=LTAIYdtGj1N7M3bR&amp;Signature=hiZ2pJ7sJWPdzqCi%2F1xu2gDaCo8%3D" width="100%" height="100%">
            	</div> -->
                <!-- <div class="swiper-wrapper">
			        <a href="javascript:;" class="swiper-slide stage-photo-wrap">
			        	<img src="../../images/plays/stage-photo.gif" width="100%" height="100%">
			        </a>
			        <a href="javascript:;" class="swiper-slide stage-photo-wrap">
			        	<img src="../../images/plays/stage-photo.gif" width="100%" height="100%">
			        </a>
			        <a href="javascript:;" class="swiper-slide stage-photo-wrap">
			        	<img src="../../images/plays/stage-photo.gif" width="100%" height="100%">
			        </a>
                </div> -->
            </div>
    	</div>

    	<!-- 主创介绍 -->
    	<div class="creators">
    		<h3 class="creators-title">主创介绍</h3>
            <div class="swiper-container" id="creatorsSwiper">
                <!-- <div class="swiper-wrapper creators-wrap">
			        <a href="javascript:;" class="swiper-slide creator-wrap">
			        	<div class="clearfix personal">
			        		<div class="profile-wrap fl-l"></div>
			        		<div class="name-position fl-l">
			        			<span class="creator-name">李春峰</span><br/>
			        			<span class="creator-position">导演/演员</span>
			        		</div>
			        	</div>
			        	<p class="intro">
			        		李春峰，最被期待的80后导演之一。师从北师大戏剧与电影...
			        	</p>
			        </a>
			        <a href="javascript:;" class="swiper-slide creator-wrap">
			        	<div class="clearfix personal">
			        		<div class="profile-wrap fl-l"></div>
			        		<div class="name-position fl-l">
			        			<span class="creator-name">李春峰</span><br/>
			        			<span class="creator-position">导演/演员</span>
			        		</div>
			        	</div>
			        	<p class="intro">
			        		李春峰，最被期待的80后导演之一。师从北师大戏剧与电影...
			        	</p>
			        </a>
                </div> -->
            </div>
    	</div>

    	<!-- 观众剧评 -->
    	<div class="comments-wrap">
    		<div class="clearfix">
	    		<h3 class="fl-l comments-title">观众剧评</h3>
    			<a class="fl-r more-comments">更多剧评</a>
    		</div>
    		<ul id="comments">
    			<!-- <li class="clearfix comment-item">
    				<div class="author-profile fl-l"></div>
    				<div class="author-inf fl-l">
    					<p class="author-name">李春峰</p>
    					<p class="comment-content">
    						作为麻醉过量区的患者表示尽量麻醉过量依然有被这部剧感动到，角色都非常棒，灯光音乐都很~~希望有更多人恩给你里阿杰这部话剧。
    					</p>
    					<p class="comment-date">2019-08-08</p>
    				</div>
    			</li>
    			<li class="clearfix comment-item">
    				<div class="author-profile fl-l"></div>
    				<div class="author-inf fl-l">
    					<p class="author-name">李春峰</p>
    					<p class="comment-content">
    						作为麻醉过量区的患者表示尽量麻醉过量依然有被这部剧感动到，角色都非常棒，灯光音乐都很~~希望有更多人恩给你里阿杰这部话剧。
    					</p>
    					<p class="comment-date">2019-08-08</p>
    				</div>
    			</li> -->
    		</ul>
    		
    	</div>

    	<!-- 媒体报道 -->
    	<div class="report-wrap">
    		<div class="clearfix">
	    		<h3 class="fl-l report-title">媒体报道</h3>
    			<a class="fl-r more-report">更多报道</a>
    		</div>
    		<ul id="reports">
    			<!-- <li class="report-item">
    				<a href="javascript:;" class="clearfix report-a">
    					<img src="../../images/aboutus/profile.gif" class="report-img fl-l">
    					<div class="fl-r report-item-inf">
    						<h3 class="report-item-title">《燃烧的疯人院》受邀参加瑶湖艺术节</h3>
							<p class="report-item-con">
								由光纬戏剧出品的话剧《燃烧的疯人院》自2015年首演至今演出300余场。
							</p>
							<p class="report-src-wrap">
								<span class="report-src">光纬戏剧</span>
								<span class="report-date">2019年08月08日</span>
							</p>
    					</div>
    				</a>
    			</li>
    			<li class="report-item">
    				<a href="javascript:;" class="clearfix report-a">
    					<img src="../../images/aboutus/profile.gif" class="report-img fl-l">
    					<div class="fl-r report-item-inf">
    						<h3 class="report-item-title">《燃烧的疯人院》受邀参加瑶湖艺术节</h3>
							<p class="report-item-con">
								由光纬戏剧出品的话剧《燃烧的疯人院》自2015年首演至今演出300余场。
							</p>
							<p class="report-src-wrap">
								<span class="report-src">光纬戏剧</span>
								<span class="report-date">2019年08月08日</span>
							</p>
    					</div>
    				</a>
    			</li> -->
    		</ul>
    		
    	</div>

    	<!-- 购票 -->
    	<div class="buy-wrap">
    		<a href="javascript:;" class="btn-block buy-ticket">
    			<p>立即购票</p>
    			<p class="third-text">（前往第三方网站购票）</p>
    		</a>
    		<a href="javascript:;" class="btn-block stop-ticket">本轮已结束，请关注下轮</a>
    	</div>
    </div>
	
	<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script src="../../js/lib/swiper/swiper-4.3.3.min.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/plays/playsDetails.js"></script>
</body>
</html>