<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/news/newsDetails.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
	<div class="header">
	    <div class="back-wrap">
	        <a href="javascript:;" class="goback" id="goBack">
	            返回
	        </a>
	    </div>
	</div>

	<!-- content内容部分 -->
	<div class="content" id="content">
		<!-- <h3 class="news-title">《李鸿章对话伊藤博文》受邀参加三星堆戏剧节</h3>
		<p class="news-tag">
			<span class="news-type">行业新闻</span>
			<span class="news-date">2018-08-08</span>
		</p>
		<div class="paragraph">
			<p>“疯狂，你使我心歌唱；疯狂，你使万事变得美妙！”</p><br>
			<p>“我可以接受幻觉，只要我知道那是幻觉，可是混在一起就不行。”</p><br>
			<p>一句句台词你来我往间，2018年4月11日晚，《燃烧的疯人院》第八轮演出在北京西区剧场正式拉开帷幕，随着三年来一百多场的舞台历练，演员们的表演更入佳境，他们在舞台上学会忘记自己，只存现于角色的命运中扭打、争执、倾诉、哭泣。“疯子们”的贪于嗔、爱跟恨，堕落和救赎凝聚了若有所思的剧场空气，在春日迷蒙的夜晚里不顾一切的肆意燃烧着，迎来了谢幕时久久不止息的如雷掌声。</p><br>
			<img src="../../images/news/news-pic.gif" alt="" width="100%"><br>
			<p>一句句台词你来我往间，2018年4月11日晚，《燃烧的疯人院》第八轮演出在北京西区剧场正式拉开帷幕，随着三年来一百多场的舞台历练，演员们的表演更入佳境，他们在舞台上学会忘记自己，只存现于角色的命运中扭打、争执、倾诉、哭泣。“疯子们”的贪于嗔、爱跟恨，堕落和救赎凝聚了若有所思的剧场空气，在春日迷蒙的夜晚里不顾一切的肆意燃烧着，迎来了谢幕时久久不止息的如雷掌声。</p><br>
			
		</div> -->
	</div>
    
    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script type="text/javascript" src="../../js/news/newsDetails.js"></script>
</body>
</html>