<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/aboutus/memorabilia.css">
    <script src="../../js/lib/jquery.min.js"></script>
    <script src="../../js/lib/windowSize.js"></script>
</head>

<body>
    <div class="back-wrap">
        <a href="javascript:;" class="goback" id="goBack">
            返回
        </a>
    </div>
    <div class="content">
        <header class="">
            大事记
        </header>
        <div class="banner">
            <img src="../../images/aboutus/aboout-header.gif" alt="" id="banner">
        </div>
        <div class="time-line-content">
            
        </div>
    </div>
    <div class="footer">
        <ul class="footer-nav-wrap clearfix">
            <li class="footer-nav">
                <a class="footer-nav-item" href="../../index.html">
                    <div class="nav-img-wrap home-img"></div>
                    <p class="nav-name">首页</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="#">
                    <div class="nav-img-wrap play-img"></div>
                    <p class="nav-name">剧目</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="../news/news.html">
                    <div class="nav-img-wrap news-img"></div>
                    <p class="nav-name">资讯</p>
                </a>
            </li>
            <li class="footer-nav active">
                <a class="footer-nav-item" href="aboutus.html">
                    <div class="nav-img-wrap guangwei-img"></div>
                    <p class="nav-name">光纬</p>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script>
        var memData = {};
        //获取大事记数据
        function getData() {
            $.ajax({
                type: 'get',
                dataType: 'json',
                async: false,
                url: ' http://www.guangweixiju.com/drama/mobile/bigEvent',
                success: function(msg) {
                    if (msg.code == 200) {

                        $('#banner').attr('src', msg.data.bigImage.banner);
                        $.each(msg.data.year, function(index, item) {
                            var year = item.year;
                            memData[item.year] = [];
                            $.each(msg.data.all, function(index, item) {
                                if (item.year == year) {
                                    memData[year].unshift(item)
                                }
                            })
                        })
                        var html = '';
                        $.each(memData, function(index, item) {
                            html += '<div class="time-line-item">'
                            html += '<div class="left">' + index + '</div>'
                            html += '<div class="time-line-box">'
                            html += '<div class="item">'
                            $.each(item, function(s, k) {
                                html += '<div class="item-time">'
                                html +=  k.moth+'月'+k.day+'日'
                                html += '</div>'
                                html += '<div class="item-content">'+k.eventIntroduce
                                html += '</div>'
                            })
                            html += '</div></div></div>'
                        })
                        $('.time-line-content').html(html)
                    } else {

                    }
                },
                error: function(msg) {

                }
            })
        }
        getData();

    </script>
</body>

</html>
