<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="XEESrz1S4I">
	<title>加入我们</title>

	<link rel="stylesheet" type="text/css" href="../../css/common/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/aboutus/positionDetails.css">
	<script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>
<body>
	<div class="header">
	    <div class="back-wrap">
	        <a href="javascript:;" class="goback" id="goBack">
	            返回
	        </a>
	    </div>
		<div class="position-wrap">
			<h3 class="position-title">项目监制</h3>
			<p class="position-inf">
				<span class="pay">薪资面议</span> / 
				<span>北京</span> / 
				<span>全职</span> / 
				<span>项目部</span> / 
				<span>3人</span>
			</p>
		</div>
	</div>
	<div class="content">
		<h3 class="describe-title">
			<span class="vline"></span>职位描述
		</h3>
		<div class="introduction-wrap">
			<div class="introduction">
				<p class="introduction-title">
					岗位职责：
				</p>
				<p>
					1.参与剧目的前期评估、制定演出计划、监督制作进度、现场排练演出、宣传策划、项目结算、运营等工作，监测其进度和结果；<br>
					2.协助导演和制作人工作，严格把控时间进度表，解决突发事件；<br>
				</p>
			</div>
			<div class="introduction">
				<p class="introduction-title">
					任职资格：
				</p>
				<p>
					1.有固定观剧习惯，有制作人相关经验优先；<br>
					2.大学本科以上学历，文化传媒、戏剧或其他相关专业毕业；<br>
				</p>
			</div>
			<div class="introduction">
				<p class="introduction-title">
					投递邮箱：
				</p>
				<p>
					guangweitheatre@guangweixiju.com
				</p>
			</div>
		</div>
	</div>

	<!-- footer部分 -->
	<div class="footer">
		<ul class="footer-nav-wrap clearfix">
			<li class="footer-nav">
				<a class="footer-nav-item" href="../../index.html">
					<div class="nav-img-wrap home-img"></div>
					<p class="nav-name">首页</p>
				</a>
			</li>
			<li class="footer-nav">
				<a class="footer-nav-item" href="#">
					<div class="nav-img-wrap play-img"></div>
					<p class="nav-name">剧目</p>
				</a>
			</li>
			<li class="footer-nav">
				<a class="footer-nav-item" href="../news/news.html">
					<div class="nav-img-wrap news-img"></div>
					<p class="nav-name">资讯</p>
				</a>
			</li>
			<li class="footer-nav active">
				<a class="footer-nav-item" href="aboutus.html">
					<div class="nav-img-wrap guangwei-img"></div>
					<p class="nav-name">光纬</p>
				</a>
			</li>
		</ul>
	</div>
    
    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
</body>
</html>