<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="baidu-site-verification" content="XEESrz1S4I">
    <title>加入我们</title>

    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/aboutus/positionDetails.css">
    <script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>

<body>
    <div class="header">
        <div class="back-wrap">
            <a href="javascript:;" class="goback" id="goBack">
	            返回
	        </a>
        </div>
        <div class="position-wrap">
            <h3 class="position-title">项目监制</h3>
            <p class="position-inf">
                <span class="pay">薪资面议</span> /
                <span class="place">北京</span> /
                <span class='teypeName'>全职</span> /
                <span class='department'>项目部</span> /
                <span class="postNumber">3人</span>
            </p>
        </div>
    </div>
    <div class="content">
        <h3 class="describe-title">
            <span class="vline"></span>职位描述
        </h3>
        <div class="introduction-wrap">
            <div class="introduction">
                <p class="introduction-title">
                    岗位职责：
                </p>
                <p class="postDuties">
                    
                </p>
            </div>
            <div class="introduction">
                <p class="introduction-title">
                    任职资格：
                </p>
                <p class="qualification">
                  
                </p>
            </div>
            <div class="introduction">
                <p class="introduction-title">
                    投递邮箱：
                </p>
                <p class="mailbox">
                   
                </p>
            </div>
        </div>
    </div>

    <!-- footer部分 -->
    <div class="footer">
        <ul class="footer-nav-wrap clearfix">
            <li class="footer-nav">
                <a class="footer-nav-item" href="../../index.html">
                    <div class="nav-img-wrap home-img"></div>
                    <p class="nav-name">首页</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="../plays/plays.html">
                    <div class="nav-img-wrap play-img"></div>
                    <p class="nav-name">剧目</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="../news/news.html">
                    <div class="nav-img-wrap news-img"></div>
                    <p class="nav-name">资讯</p>
                </a>
            </li>
            <li class="footer-nav active">
                <a class="footer-nav-item" href="aboutus.html">
                    <div class="nav-img-wrap guangwei-img"></div>
                    <p class="nav-name">光纬</p>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script>
        function getData() {
            $.ajax({
                type: 'get',
                dataType: 'json',
                async: false,
                url: 'http://www.guangweixiju.com/drama/mobile/join/'+GetRequest().id,
                success: function(msg) {
                    if (msg.code == 200) {
                        var data = msg.data.join;
                        $('.position-title').html(data.postName)
                        $('.place').html(data.place)
                        $('.teypeName').html(data.teypeName)
                        $('.postNumber').html(data.postNumber+'人')
                        $('.department').html(data.department)
                        $('.postDuties').html(data.postDuties)
                        $('.qualification').html(data.qualification)
                        $('.mailbox').html(data.mailbox)
                    } else {

                    }
                },
                error: function(msg) {

                }
            })
        }
        getData();

        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串  
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

    </script>


</body>

</html>
