<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,minimal-ui, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="baidu-site-verification" content="XEESrz1S4I">
    <title>管理团队</title>

    <link rel="stylesheet" type="text/css" href="../../css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/aboutus/team.css">
    <script type="text/javascript" src="../../js/lib/windowSize.js"></script>
</head>

<body>
    <!-- header部分 -->
    <div class="back-wrap">
        <a href="javascript:;" class="goback" id="goBack">
			返回
		</a>
    </div>

    <!-- content -->
    <div class="content">
        <h3 class="team-title">管理团队</h3>
        <div>
            <ul class="manager-item-wrap">
                <li class="manager-item left-item">
                    <div class="profile"></div>
                    <div class="manager-inf">
                        <h3 class="manager-name">李春峰</h3>
                        <p class="manager-position">北京光纬戏剧有限公司CEO<br>戏剧出品人</p>
                    </div>
                    <p class="manager-introduction">
                        拥有戏剧行业和互联网技术双重背景，擅长运用互联网思维进行商业化运作，并具有丰富的戏剧投资经验。已出品20余部优质作品，演出共计300余场。<br> 主要投资制作：澳大利亚国宝级喜剧《燃烧的疯人院》（荣获2015小剧场票房冠军和北京戏剧新势力热搜作品奖）、《李鸿章对话伊藤博文》
                    </p>
                </li>
                <li class="manager-item right-item">
                    <div class="profile"></div>
                    <div class="manager-inf">
                        <h3 class="manager-name">李春峰</h3>
                        <p class="manager-position">北京光纬戏剧有限公司副总经理</p>
                    </div>
                    <p class="manager-introduction">
                        制作戏剧：《芳心之罪》、《驼背查理的七宗罪》、《再远我都听得见》、《安的秘密》、《雅各比和雷弹头》等
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer部分 -->
    <div class="footer">
        <ul class="footer-nav-wrap clearfix">
            <li class="footer-nav">
                <a class="footer-nav-item" href="../../index.html">
                    <div class="nav-img-wrap home-img"></div>
                    <p class="nav-name">首页</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="#">
                    <div class="nav-img-wrap play-img"></div>
                    <p class="nav-name">剧目</p>
                </a>
            </li>
            <li class="footer-nav">
                <a class="footer-nav-item" href="../news/news.html">
                    <div class="nav-img-wrap news-img"></div>
                    <p class="nav-name">资讯</p>
                </a>
            </li>
            <li class="footer-nav active">
                <a class="footer-nav-item" href="aboutus.html">
                    <div class="nav-img-wrap guangwei-img"></div>
                    <p class="nav-name">光纬</p>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/common.js"></script>
    <script>
        function getData() {
            $.ajax({
                type: 'get',
                dataType: 'json',
                async: false,
                url: ' http://www.guangweixiju.com/drama/mobile/team',
                success: function(msg) {
                    if (msg.code == 200) {
                        var html = '';
                        $.each(msg.data.teamInfos, function(index, item) {
                            html += '<li class="manager-item '+(index%2==0?"left-item":'right-item')+'">'
                            html += '<div class="profile" style="background-image:url('+item.photo+');background-size:cover;"></div>'
                            html += '<div class="manager-inf">'
                            html += '<h3 class="manager-name">'+item.name+'</h3>'
                            html += '<p class="manager-position">'+item.position
+'</p>'
                            html += '</div>'
                            html += '<p class="manager-introduction">'+item.introduce
                            html += '</p>'
                            html += '</li>'
                        })
                        $('.manager-item-wrap').html(html)
                    } else {

                    }
                },
                error: function(msg) {

                }
            })
        }
        getData();

    </script>
</body>

</html>
